
.noto-serif-promt{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-promt {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* shared color section style hare  */
.display-flex{
  display: flex;
}
.dark1{
  color: #252432;
}
.dark2{
  color: #8987A1;
}
.dark3{
  color:rgba(0, 0, 0, 0.5);
}
.dark4{
  color: #E95A08;
}
.text-medium{
  font-weight: 500;
}
.text-semi-bold{
  font-weight: 600;
}
.text-bold{
  font-weight: 700;
}
/* nav-bar section style hare  */
.navbar{
    max-width: 1140px;
    margin: 0 auto; 
    justify-content: space-between;
    margin-top: 30px;
}
.navbar_logo{
    width: 135px;
    width: 82px;
}
.navlink-list{
  gap: 48px;
}
.navlink-list-li{
  list-style: none;
}
.navlink-list-a{
  text-decoration: none;
}
/* banner styles starts hare  */
.banner{
  max-width: 1140px;
  height: 461px;
  margin: 0 auto;
  margin-top: 120px;
  align-items: center;
}
.banner-contant{
  max-width: 570px;
}
.banner-title{
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 13px;
}
.banner-img{
  width: 100%;
}
/* plant section style begains hare  */
.plant{
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  
}
.card-image{
  width: 100%;
}
.plant-title{
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.plant-desc{
  max-width: 650px;
  margin: 0 auto;
}
.card-parent{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 15px;
}
.card{
  max-width: 270px;
}
.card-title{
  font-size:1.375rem;
  font-weight:500;
}
.card-price{
  font-size: 1.375rem;
  font-weight:700;
}
.card-btn{
  width:100%;
  height: 50px;
  border: none;
  background-color:#E95A08;
  color: #FFFFFF;
}




/* media query section start hare  */

@media screen and (max-width: 600px) {
  /* navbar  */
  .navbar{
    margin:13px 16px 28px 16px;
  }
  .display-none{
    display: none;
  }
  /* banner  */
  .banner{
    flex-direction: column-reverse;
    margin-top: 250px;
  }
  .banner-title{
    font-size: 2.5rem;
  }
  /* crad  */
  .card-parent{
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
  }
  /* .card{
    max-width: 171px;
  } */

}


